<div class="title-with-controls">
  <h1>Projects</h1>

  <div id="page-controls">
    <%= link_to 'Create a new Project', new_project_path %>
  </div>
</div>

<p class="small">We're currently tracking bugs for <%= pluralize(@projects.count, "project") %>:</p>

<ul class="project-list">
  <% @projects.each do |project| %>
    <li><strong><%= link_to project.title, project_path(project) %></strong>: <%= project.description %></li>
  <% end %>
</ul>
